<% provide(:title, 'All users') %>
<h1>All users</h1>


<%= will_paginate %>

<ul class="users">
	<li><%= page_entries_info @users %></li>
	<%= render @users %>
	<li><%= page_entries_info @users %></li>
</ul>

<%= will_paginate %>